section.section-techniques
    h2.heading-h2 Techniques you will learn
    p.section-description.
        Choose and watch the image below in order to find out more about the techniques you will learn at your
        lessons.
    div.slider
        div.slider-for
            -
                let values = [
                    {'img':'slider-1', 'text':'Wheelthrowing'},
                    {'img':'slider-2-small', 'text':'Wheelthrowing 2'},
                    {'img':'slider-3-small', 'text':'Wheelthrowing 3'},
                    {'img':'slider-4-small', 'text':'Wheelthrowing 4'}
                ];
            each val in values
                div
                    img(class="slider-for__img" src="/assets/images/" + val.img + ".png")
                    p= val.text

        div.slider-nav
            each val in ['slider-1-small','slider-2-small','slider-3-small','slider-4-small']
                div
                    img(class="slider-nav__img" src="/assets/images/" + val + ".png")
