section.section-contacts
    h2.heading-h2 Contacts
    div.map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81462.71443983103!2d-73.99265935423104!3d40.64363609982279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c244b30adc86b5%3A0x6d367509a2f0fed6!2zMjkwMSBCZWRmb3JkIEF2ZSwgQnJvb2tseW4sIE5ZIDExMjEwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1623764502201!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")
