section.section-story
    h2.heading-h2.mb-lg Our story
    p.section-description.
        Our company was created in the 2015 year and since that time, we have been teaching people to work with
        clay. We work out new techniques and made a lot of people happy.
