section.section-gallery
    h2.heading-h2.mb-lg Gallery
    p.section-description.mb-lg.
        With us, you will learn the art of clay and became a real professional in this sphere, because we have
        the best teachers and our students are always happy after the lessons.
    div#lightgallery
        each val in ['gallery-1','gallery-2','gallery-3','gallery-4','gallery-5','gallery-6','gallery-7','gallery-8', ]
            a(class="lg-item" href="/assets/images/" + val + ".png")
                img(class="lg-preview" src="/assets/images/" + val + ".png")
                div.lg-poster
                    div.lg-icon
                        img(src="/assets/images/search-icon.svg")
