extends templates/_default

block content
    header

    main
        include sections/section-techniques
        include sections/section-story
        include sections/section-gallery
        include sections/section-plans
        include sections/section-reviews
        include sections/section-contacts

    footer


