extends templates/_default

block content
    header

    main
        section.section-techniques
            h2.heading-h2 Techniques you will learn
            p.section-description Choose and watch the image below in order to find out more about the techniques you will learn at your lessons.

        section.section-story
            h2.heading-h2 Our story
            p.section-description Our company was created in the 2015 year and since that time, we have been teaching people to work with clay. We work out new techniques and made a lot of people happy.

        section.section-gallery
            h2.heading-h2 Gallery
            p.section-description With us, you will learn the art of clay and became a real professional in this sphere, because we have the best teachers and our students are always happy after the lessons.

        section.section-plans
            h2.heading-h2 Plans
            p.section-description Choose your plan and let’s make beauty together. Our classes are taught by top practitioners.

        section.section-reviews
            h2.heading-h2 Reviews
            p.section-description Our clients always stay very happy, just read their reviews below.

        section.section-contacts
            h2.heading-h2 Contacts

    footer


